*{
  padding: 0px;
  margin: 0px;
}
.login-container{
   width: 100wh;
   height: 100vh;
   border: 1px solid red;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(to top left red);
  }
.login-container-box{
  border: 1px solid green;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  background-color: rgb(174, 255, 255);
  border-radius: 10px;
}
.login-box{
  padding: 10px;
}
.login-box h2{
   text-align: center;
   color: black;
   font-size: 2rem;
   margin-top: 20px;
}
.login-form p label{
  display: block;
  padding: 2px;
}
.login-form input{
  width: 100%;
  font-size: 1rem;
  padding: 2px;
  border-radius: 5px;
  border: 0.5 px solid black;
  padding: 2px;
}
.login-form p{
  padding: 10px;
}
.login-submit{
  padding: 5px;
  background: rgb(255, 0, 204);
  width: 100px;
  margin-top: 20px;
  margin-left: 35%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
@media only screen and (max-width:400px) {
  .login-container{
    padding: 10px;
  }
  .login-container-box{
    width: 300px;
    margin-top: 50px;
  }
}